# .github/workflows/ci.yml
name: ci

on: [push, pull_request]

jobs:
  ci:
    uses: catalyst/catalyst-moodle-workflows/.github/workflows/ci.yml@main
    secrets:
      moodle_org_token: ${{ secrets.MOODLE_ORG_TOKEN }}
    with:
      # Any further options in this section
      disable_behat: true
      disable_grunt: true
      disable_release: true
      disable_phplint: true
      disable_phpdoc: true
